---
- name: Execute multiple commands on Huawei CE switches
  hosts: all
  gather_facts: no
  
  tasks:
    - name: Set screen length and get version
      ansible.netcommon.cli_command:
        command: |
          screen-length 0 temporary
          display version
      register: result
    
    - name: Display results
      debug:
        var: result.stdout
